phase {
  border: 1px solid blue;
  background-color: white;
  padding: 5px;
}

goal {
  border: 1px solid green;
  background-color: white;
  padding: 5px;
}

section.present ul li {

        line-height: 50px;

}

.reveal pre {
  font-size: 1em;
  width: 100%;
}