phase {
  border: 1px solid blue;
  background-color: white;
  padding: 5px;
}

phases {
  font-size: 0.7em;
}

goal {
  border: 1px solid green;
  background-color: white;
  padding: 5px;
}

section.present ul li {

        line-height: 50px;
}

.reveal pre {
  font-size: 0.8em;
  width: 100%;
}

dl {
  text-align: left;
}

dt {
  text-decoration: underline;
}